* {margin: 0; padding: 0; border: 0;}

.coords ul {
    float: left;
    position: absolute;
    color: white;
}

.coords ul.horz {
    width: 512px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.coords ul.vert {
    height: 512px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.coords ul li {
    list-style: none;
}

.coords ul.horz li {
    float: left;
    height: 20px;
    width: 64px;
    line-height: 20px;
    text-align: center;
}

.coords ul.vert li {
    height: 64px;
    width: 20px;
    line-height: 64px;
    text-align: center;
}

#chessboard {
    float: left;
    padding: 20px;
    background-color: #f00033;
    border: 5px solid #333;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.tile {
    float: left;
    height: 64px;
    width: 64px;
}

.dark {
    background-color: #999;
}

.light {
    background-color: #fff;
}

#player {
    background-color: #f00033;
    border-radius: 50%;
}

.piece {
    cursor: pointer;
    text-align: center;
    position: absolute;
    height: 46px;
    width: 46px;
    top: 19px;
    left: 19px;
}

.piece:before {
    content: '';
    position: absolute;
    left: -9px;
    top: -9px;
    height: 64px;
    width: 64px;
    background-color: transparent;
}

span.icon {
    display: block;
    font-size: 30px;
}

.hover {
	-webkit-box-shadow: inset 0px 0px 5px 5px rgba(240, 0, 51, .5);
	box-shadow: inset 0px 0px 5px 5px rgba(240, 0, 51, .5);
}

.smoothmove {
	-webkit-transition: top 0.35s ease-in-out, left 0.35s ease-in-out;
	-moz-transition: top 0.35s ease-in-out, left 0.35s ease-in-out;
	-ms-transition: top 0.35s ease-in-out, left 0.35s ease-in-out;
	-o-transition: top 0.35s ease-in-out, left 0.35s ease-in-out;
	transition: top 0.35s ease-in-out, left 0.35s ease-in-out;
}

.smoothfade {
	-webkit-transition: box-shadow 0.15s ease-out;
	-moz-transition: box-shadow 0.15s ease-out;
	-ms-transition: box-shadow 0.15s ease-out;
	-o-transition: box-shadow 0.15s ease-out;
	transition: box-shadow 0.15s ease-out;

	-webkit-transition: background-color 0.15s ease-in time;
	-moz-transition: background-color 0.15s ease-in time;
	-ms-transition: background-color 0.15s ease-in time;
	-o-transition: background-color 0.15s ease-in time;
	transition: background-color 0.15s ease-in time;
}
