.root {
    -fx-background-image: url("/images/ConnectionGUIbackground.jpg");
    -fx-background-size: cover;
}

.label {
    -fx-alignment: center;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-display: block;
    -fx-text-fill: rgba(36, 198, 244, 1);
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
}

.button {
    -fx-font-size: 12px;
    -fx-text-fill: black;
    -fx-pref-width: 100px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
    -fx-border-color: black;
    -fx-background-color: rgba(36, 198, 244, 1);
    -fx-display: block;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
}

.button:hover {
    -fx-background-color: rgba(255, 140, 0, 1);
}
